@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.App {
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}
body{
  margin: 0;
  overflow-x: hidden;
  font-family: 'Cormorant Garamond', serif;
}