.logo-pic {
  height: 140px;
  width: 140px;
  left: 1rem;
  border-radius: 50%;
}

.pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.nav {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #011438;
}
.nav-buttons {
  margin: 5px;
  border: none;
  background-color: #011438;
  color: white;
  font-size: 15px;
}

.home-pic {
  width: 85vw;
  height: 280px;
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 450px;
  background-color: #d2d7df;
  align-items: center;
}

.logo-description {
  display: flex;
  align-items: center;
  height: 300px;
  padding: 10px;
}
 .description {
  padding: 10px;
 }

 .home-options {
  display: flex;
  margin: 10px;
 }