@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.logo-pic {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  margin-left: 50px;
}
body {
  scrollbar-color: #011438;
  background-color: #d2d7df;
}

.pic {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.nav {
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(1, 20, 56, 1),rgb(210, 215, 223, 0) );
  position: fixed;
  z-index: 2;
}
.nav-buttons {
  margin: 5px;
  border: none;
  background-color: #011438;
  color: white;
  font-size: 15px;
}
.bnt {
  margin-top: 10px;
}

.logout {
  padding-right: 20px;
}

.home-pic {
  position: relative;
  width: 65vw;
  height: 290px;
  top: 85px;
  z-index: 0;
  margin: 0;
}

.home-frame { 
  position:absolute;
  width: 95vw;
  height: 280px;
  margin-top: 33px;
  z-index: 1;
}

.frame {
  width: 48vw;
  height: 380px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 560px;
  background-color: #aaaeb5;
  align-items: center;
  border-bottom:  solid 5px #011438;
}

.logo-description {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 250px;
  padding: 10px;
  width: 85vw;
  margin-top: 80px;
}
.description {
  padding: 10px;
  width: 80%;
  text-align: center;
  margin-left: 60px;
  color: #011438;
  font-family: 'Cormorant Garamond', serif;
}

.home-options {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.home-trips {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #011438;
  width: 300px;
  border-radius: 10px;
  padding: 20px;
  color: white;
  margin-bottom: 120px;
  box-shadow: 0 0 0.5rem #388697;
}
p {
font-family: 'Cormorant Garamond', serif;
}

.windowSeat {
  position: relative;
}

.window {
  position: relative;
  width:150px;
  height: 200px;
  background-color: #90e0ef;
  border: 10px solid #e9ecef;
  border-radius: 70px;
  overflow: hidden;
  box-shadow: inset 5px 5px 25px rgba(0,0,0,0.3);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

.clouds {
  position: absolute;
  top:100px;
  background-color: #caf0f8;
  border-radius:50%;
  width: 50px;
  height: 50px;
  left:0;
  box-shadow: 40px 20px #caf0f8, 85px 40px #caf0f8, 105px 30px #caf0f8, 70px 20px #caf0f8, -10px 20px #caf0f8, 130px 10px #caf0f8, 170px 20px #caf0f8, 200px 30px #caf0f8;
  animation: move 10s linear infinite;
}

@keyframes move {
  from {left:-100px};
  to {left: 100px};
}

.clouds:before {
  content:"";
  position: absolute;
  border-radius:50%;
  background-color: #fff;
  width:50px;
  height: 50px;
  top:30px;
  left:-10px;
  box-shadow: 30px 30px #fff, 70px 20px #fff, 60px 50px #fff, 105px 30px #fff, 140px 10px #fff, 140px 40px #fff, 170px 10px #fff, 200px 20px #fff, 180px 40px #fff, 240px 10px #fff;
}

.wing {
  position: absolute;
  width: 40px;
  height:0;
  border-bottom: 200px solid #ced4da;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: 50px;
  left:-10px;
  transform: rotateX(45deg) skew(-30deg);
}

.wing:before {
  content:"";
  position: absolute;
  width: 20px;
  height:0;
  border-bottom: 200px solid rgba(0,0,0,0.1);
  border-right: 22px solid transparent;
  left:24px;
  transform: rotate(-2deg);
}

.flap {
  position: absolute;
  width: 200px;
  height: 250px;
  background-color: #dee2e6;
  border-radius:80px;
  left:-20px;
  top:-200px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.flap:before {
  content:"";
  position: absolute;
  width:40px;
  height:10px;
  border-radius:10px;
  background-color: #adb5bd;
  top:230px;
  left:75px;
}

input#flap {
  display: none;
}

#flap:checked + .flap {
  transform: translateY(150px);
}

.flap2 {
  position: absolute;
  width: 200px;
  height: 250px;
  background-color: #dee2e6;
  border-radius:80px;
  left:-20px;
  top:-200px;
  cursor: pointer;
  transition: .3s;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.flap2:before {
  content:"";
  position: absolute;
  width:40px;
  height:10px;
  border-radius:10px;
  background-color: #adb5bd;
  top:230px;
  left:75px;
}

input#flap2 {
  display: none;
}

#flap2:checked + .flap2 {
  transform: translateY(150px);
}


.home-trips {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #011638;
  color: #FFFFFF;
  font-family: sans-serif;
  font-size: 16px;
  padding: 30px;
}



p {
  margin-top: 20px;
  color: #d2d7df;
}

button {
  background-color: #cd4b13;
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #FFFFFF;
  color: #cd4b13;
}
