@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.tripsPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trip-card {
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:12em;
  width:12em;
  padding:1em;
  margin: 20px;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transform: rotate(-2deg);
  transition: transform .15s linear;
  font-family: 'Cormorant Garamond', serif;
}
.trip-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10.6rem;
  right: 2.8rem;
  width: 84vw;
  height: 70vh;
  overflow-y: scroll;
  scrollbar-color: transparent;
}

.trip-title {
  position: fixed;
  z-index: 0;
  top: 40px;
  left: 200px;
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
}

.top-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.trip-card:hover, .trip-card:focus {
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.1);
  position:relative;
  z-index:5;
}

.trip-card:active {
  background-color: #cd4b13;
}

body{
  margin: 0;
  padding: 0;
  /* background: #000000; */
}

.box{
  position: relative;
  top: calc(50% - 115px);
  top: -webkit-calc(50% - 115px);
  left: calc(50% - 300px);
  left: -webkit-calc(50% - 500px);
  -webkit-transform: scale(0.7) rotate(0deg);
}
.clip {
  width: 20px;
  height: 50px;
  border: solid 3px #666;
  border-width: 3px 3px 0 0;
  margin: auto;
  border-radius: 1000px 1000px 00;
  position: absolute;
  left: 162px;
  box-sizing: border-box;
  top: -35px;
}

.clip:before {
  content: '';
  position: absolute;
  border: solid 3px #666;
  border-radius: 1000px 1000px 0 0;
  border-width: 3px 0 0 3px;
  top: -3px;
  right: 0;
  width: 100%;
  height: 150%;
  display: block;
  box-sizing: border-box;
  z-index: -2;
}

.clip:after {
  content: '';
  position: absolute;
  border: solid 3px #666;
  border-radius: 0 0 1000px 1000px;
  border-width: 0 3px 3px;
  top: 40%;
  right: -3px;
  width: 80%;
  height: 140%;
  display: block;
  box-sizing: border-box;
  z-index: 1;
}
.ticket{
  width: 900px;
  height: 350px;
  background: #011638;
  border-radius: 3px;
  /* box-shadow: 0 0 100px #aaa; */

}

.left{
  height: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  left: -9px;
}

.left li{
  width: 0px;
  height: 0px;
}

.left li:nth-child(-n+2){
  margin-top: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #011638;
}

.left li:nth-child(3),
.left li:nth-child(6){
  margin-top: 6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #EEEEEE;
}

.left li:nth-child(4){
  margin-top: 6px;
  margin-left: 2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #EEEEEE;
}

.left li:nth-child(5){
  margin-top: 6px;
  margin-left: -1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #EEEEEE;
}

.left li:nth-child(7),
.left li:nth-child(9),
.left li:nth-child(11),
.left li:nth-child(12){
  margin-top: 6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #E5E5E5;
}

.left li:nth-child(8){
  margin-top: 6px;
  margin-left: 2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #E5E5E5;
}

.left li:nth-child(10){
  margin-top: 6px;
  margin-left: 1px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #E5E5E5;
}

.left li:nth-child(13){
  margin-top: 6px;
  margin-left: 2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #011638;
}

.left li:nth-child(14){
  margin-top: 6px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #011638;
}

.right{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  right: 513px;
  height: 350px;
}

.right li:nth-child(-n+2){
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #011638;
}

.right li:nth-child(3),
.right li:nth-child(4),
.right li:nth-child(6){
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #EEEEEE;
}

.right li:nth-child(5){
  margin-top: 5px;
  margin-left: -2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #EEEEEE;
}

.right li:nth-child(8),
.right li:nth-child(9),
.right li:nth-child(11){
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #E5E5E5;
}

.right li:nth-child(7){
  margin-top: 5px;
  margin-left: -3px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #E5E5E5;
}

.right li:nth-child(10){
  margin-top: 5px;
  margin-left: -2px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #E5E5E5;
}

.right li:nth-child(12){
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #E5E5E5;
}

.right li:nth-child(13),
.right li:nth-child(14){
  margin-top: 5px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left: 10px solid #011638;
}

.ticket:after{
  content: '';
  position: absolute;
  left: 396.9px;
  top: 0px;
  width: 2px;
  height: 350px;
  box-shadow: inset 0 0 0 #Ffffff,
    inset 0 -20px 0 #999999,
    inset 0 -30px 0 #011638,
    inset 0 -40px 0 #999999,
    inset 0 -50px 0 #011638,
    inset 0 -60px 0 #999999,
    inset 0 -70px 0 #E5E5E5,
    inset 0 -80px 0 #999999,
    inset 0 -90px 0 #E5E5E5,
    inset 0 -100px 0 #E5E5E5,
    inset 0 -110px 0 #999999,
    inset 0 -120px 0 #E5E5E5,
    inset 0 -130px 0 #999999,
    inset 0 -140px 0 #E5E5E5,
    inset 0 -150px 0 #B0B0B0,
    inset 0 -160px 0 #EEEEEE,
    inset 0 -170px 0 #B0B0B0,
    inset 0 -180px 0 #EEEEEE,
    inset 0 -190px 0 #B0B0B0,
    inset 0 -200px 0 #EEEEEE,
    inset 0 -210px 0 #B0B0B0,
    inset 0 -220px 0 #EEEEEE,
    inset 0 -230px 0 #B0B0B0,
    inset 0 -240px 0 #EEEEEE,
    inset 0 -250px 0 #B0B0B0,
    inset 0 -260px 0 #EEEEEE,
    inset 0 -270px 0 #B0B0B0,
    inset 0 -280px 0 #EEEEEE,
    inset 0 -290px 0 #B0B0B0,
    inset 0 -300px 0 #EEEEEE,
    inset 0 -310px 0 #B0B0B0,
    inset 0 -320px 0 #EEEEEE,
    inset 0 -330px 0 #B0B0B0,
    inset 0 -340px 0 #011638,
    inset 0 -350px 0 #999999,
    inset 0 -360px 0 #011638,
    inset 0 -370px 0 #999999;
}


.content{
  position: absolute;
  top: 40px;
  width: 900px;
  height: 270px;
  background: #eee;
 
}

.airline{
  position: absolute;
  top: 10px;
  left: 13px;
  font-family: Arial;
  font-size: 20px;
  color: white;
}

.boarding{
  position: absolute;
  top: 10px;
  left: 270px;
  font-family: Arial;
  font-size: 18px;
  color: rgba(255,255,255,0.6);
}

.jfk{
  position: absolute;
  top: 10px;
  left: 30px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.sfo{
  position: absolute;
  top: 10px;
  left: 190px;
  font-family: Arial;
  font-size: 38px;
  color: #222;
}

.plane{
  position: absolute;
  left: 105px;
  top: 0px;
}

.sub-content{
  background: #e5e5e5;
  width: 900px;
  height: 200px;
  position: absolute;
  top: 70px;
}

.watermark{
  position: absolute;
  left: 5px;
  top: -10px;
  font-family: Arial;
  font-size: 110px;
  font-weight: bold;
  color: rgba(255,255,255,0.2);
}

.name{
  position: absolute;
  top: 50px;
  left: 40px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.name span{
  color: #555;
  font-size: 17px;
}

.flight{
  position: absolute;
  top: 50px;
  left: 280px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.flight span{
  color: #555;
  font-size: 17px;
}

.gate{
  position: absolute;
  top: 50px;
  left: 290px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.gate span{
  color: #555;
  font-size: 17px;
}


.seat{
  position: absolute;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.seat span{
  color: #555;
  font-size: 17px;
}

.add {
  bottom: 20px;
  left: 960px;

}

.boardingtime{
  position: absolute;
  top: 120px;
  left: 40px;
  font-family: Arial Narrow, Arial;
  font-weight: bold;
  font-size: 14px;
  color: #999;
}

.boardingtime span{
  color: #555;
  font-size: 17px;
}

.barcode{
  position: absolute;
  left: 8px;
  bottom: 6px;
  height: 300px;
  width: 90px;
  background: #222;
  box-shadow: inset 0 1px 0 #FFB300, inset -2px 0 0 #FFB300,
    inset -4px 0 0 #222,
    inset -5px 0 0 #FFB300,
    inset -6px 0 0 #222,
    inset -9px 0 0 #FFB300,
    inset -12px 0 0 #222,
    inset -13px 0 0 #FFB300,
    inset -14px 0 0 #222,
    inset -15px 0 0 #FFB300,
    inset -16px 0 0 #222,
    inset -17px 0 0 #FFB300,
    inset -19px 0 0 #222,
    inset -20px 0 0 #FFB300,
    inset -23px 0 0 #222,
    inset -25px 0 0 #FFB300,
    inset -26px 0 0 #222,
    inset -26px 0 0 #FFB300,
    inset -27px 0 0 #222,
    inset -30px 0 0 #FFB300,
    inset -31px 0 0 #222,
    inset -33px 0 0 #FFB300,
    inset -35px 0 0 #222,
    inset -37px 0 0 #FFB300,
    inset -40px 0 0 #222,
    inset -43px 0 0 #FFB300,
    inset -44px 0 0 #222,
    inset -45px 0 0 #FFB300,
    inset -46px 0 0 #222,
    inset -48px 0 0 #FFB300,
    inset -49px 0 0 #222,
    inset -50px 0 0 #FFB300,
    inset -52px 0 0 #222,
    inset -54px 0 0 #FFB300,
    inset -55px 0 0 #222,
    inset -57px 0 0 #FFB300,
    inset -59px 0 0 #222,
    inset -61px 0 0 #FFB300,
    inset -64px 0 0 #222,
    inset -66px 0 0 #FFB300,
    inset -67px 0 0 #222,
    inset -68px 0 0 #FFB300,
    inset -69px 0 0 #222,
    inset -71px 0 0 #FFB300,
    inset -72px 0 0 #222,
    inset -73px 0 0 #FFB300,
    inset -75px 0 0 #222,
    inset -77px 0 0 #FFB300,
    inset -80px 0 0 #222,
    inset -82px 0 0 #FFB300,
    inset -83px 0 0 #222,
    inset -84px 0 0 #FFB300,
    inset -86px 0 0 #222,
    inset -88px 0 0 #FFB300,
    inset -89px 0 0 #222,
    inset -90px 0 0 #FFB300;
}

.slip{
  left: 555px;
}

.nameslip{
  top: 120px;
  left: 520px;
}

.flightslip{
  left: 510px;
}

.seatslip{
  top: 50px;
  left: 520px;
}

.jfkslip{
  font-size: 35px;
  top: 10px;
  left: 430px;
}

.sfoslip{
  font-size: 35px;
  top: 10px;
  left: 590px;
}

.planeslip{
  top: 10px;
  left: 495px;
}

.airlineslip{
  left: 420px;
}
.btn-popup {
  padding: 10px;
  font-size: 12px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #c44c21;
  color:#ffffff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 0 0.5rem #388697;
  position: fixed;
  z-index: 0;
  bottom: 100px;
}
.add button{
  top: 270px;
  right: 550px;
}

.cork-div {
  position: fixed;
  z-index: 0;
  width: 85vw;
  height: 70vh;
  top: 10rem;
  right: 6rem;
  padding: 10px;
  background-color: white;
  align-items: center;
}
.cork {
  position: fixed;
  z-index: 0;
  width: 84vw;
  height: 70vh;
  top: 10.59rem;
  right: 7rem;
}


